<div class="input-group mb-3">
  <div class="form-floating mb-4">
    <input type="password" id="password" name="Password" class="form-control" aria-describedby="showPsw" />
    <label class="form-label" for="password">Password</label>
    <div class="invalid-feedback">Password must have 8 to 32 characters, at least one letter and
      number </div>
  </div>
  <span><button type="button" id="showPsw" class="btn bi bi-eye-slash-fill" style="font-size: 2rem;">
    </button></span>
</div>

<div class="input-group mb-3">
  <div class="form-floating mb-4">
    <input type="password" id="confirmpw" name="ConfirmPw" class="form-control" aria-describedby="showConfirmPsw" />
    <label class="form-label" for="confirmpw">Confirmed Password</label>
    <div class="invalid-feedback">Password and confirmed password are different</div>
  </div>
  <span><button type="button" id="showConfirmPsw" class="btn bi bi-eye-slash-fill"
      style="font-size: 2rem;"></button></span>
</div>