<div class="p-4 g-col-6"></div>
<form id="registerForm">
    <div class="form-floating mb-4">
        <input type="text" id="name" name="Name" class="form-control" />
        <label class="form-label" for="name">User name</label>
    </div>
    <div hx-get="/widget/form/email.html" hx-trigger="load" hx-swap="outerHTML"></div>
    <div hx-get="/widget/form/password/confirm_password.html" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="text-center">
        <button type="submit" id="submit" class="btn btn-primary bi bi-pen-fill" id="submit"> Register
        </button>
    </div>
</form>